{% extends 'layout.html'%}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-6">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
        <a href="{{url_for('update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}

  </div>

  <!--Display profile photo-->
  <div class="col-md-6">
    {% if user.image_file %}

    <img src="{{url_for('static',filename=user.image_file)}}" alt="" class="img-thumbnail ">

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if user == current_user %}
    <form  action="{{url_for('update_pic',uname=user.username)}}" method="POST" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required><br>
      <input type="submit">
    </form>
      {% endif %}
  </div>
  
    
</div>
</div>
{% endblock %}
