<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{url_for('static',filename=post.author.image_file)}}" class=" img-fluid img-thumbnail card-img rounded-circle mx-auto d-block mt-3"  style="height: 150px; width: 150px;" alt="Please add image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <a class="mr-2 card-title font-italic font-weight-bolder" href="{{ url_for('account',uname=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                <h2><a class="article-title text-primary" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <h3 class="article-title">Category: {{ post.category }}</h3>
                <hr>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock content %}
